.page {
    --text-color-dark: #000000;
    --text-color-light: #ffffff;
    --text-bg-color: #FFFFFF;
    --accent-color-1: #00205B;
    --accent-color-1-lighter: #80a1e0;
    --accent-color-2: #BA0C2F;
    --accent-color-2-lighter: #fa1140;
}

header {
    width: 100%;
    background: var(--accent-color-1);
    color: var(--text-color-light);
}

article {
    padding: 1rem;
}

.box {
    border: 1px solid var(--accent-color-1);
}

footer {
    text-align: center;
    background: var(--accent-color-1-lighter);
    height: 5rem;
}

table {
    table-layout: fixed;
    width: calc(100%);
    border: 2px solid var(--accent-color-1);
    margin: 0.5rem 0.5rem 0 0;
}

th {
    background: var(--accent-color-2-lighter);
    border: 1px solid var(--accent-color-2);
    text-align: left;
}

.navbutton {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0;
    text-underline: none;
    color: var(--text-color-light);
    border: black solid 1px;
    background: var(--accent-color-2);
}

.article-image {
    margin: 2rem 2rem 2rem 2rem;
}